body{

background-color: #FF8C00;;


}

.dropdown{

padding-left: 440px;
padding-top: 50px;
padding-bottom: 10px;
margin-bottom: 10px;


}


.titulo_principalpan{

text-align: center;
padding-top: 90px;
margin-top: -25px;
text-decoration: bold;




}

table{

margin-top: 50px;
padding-left: 10px;
margin-left: 500px;





}

thead{

background-color: #CCCCCC;
font-weight: bold;
border: 2px solid #000000;
font-style: italic;

}

td,th{

border: 2px solid #000000;
padding-left: 15px;
padding-left: 15px;
padding-top: 8px;


}

.saldo{

background-color: #006400;
font-weight: bold;
font-style: italic;
padding-top: 10px;
height: 8px;

}


tr,td{

padding-right: 30px;


}

.alert-danger{

max-width: 510px;
margin-left: 430px;
padding-top: 10px;
margin-top: 30px;
padding-left: 40px;
background-color: #ff6961;


}

.Texto_botãopan{

text-decoration: none;

}

.btn-outline-secondary {

width: 510px;
margin-left: 430px;
background-color: #CCCCCC;
margin-top: 20px;
margin-bottom: 25px;

}

.returnmenub{

font-weight: italic;

}

.bodytotal{

margin-bottom: -5px;


}


.imagepan{

margin-left: 580px;
margin-top: 100px;
margin-bottom: -10px;
padding-bottom: -50px;
width: 15%;

}